<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>MovieQuotes</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- FontAwesome for Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/moviequotes.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Cinespoilers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a id="add-quote" data-toggle="modal" data-target="#insert-quote-modal" class="nav-link" href="#">Añadir Spoiler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="toggle-edit" href="#">Editar</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container">
        <!-- Content here -->
            <div class="table-wrapper">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">Spoiler</th>
                        <th scope="col">Película</th>
                        <th scope="col" class="d-none edit-actions">Edición</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for moviequote in moviequotes_query %} <!-- moviequote es el objeto del diccionario moviquotes -->
                    <tr>
                        <td>{{ moviequote.quote}}</td> <!-- con punto quote obtengo el atributo del objeto y lo muestra en las llaves-->
                        <td>{{ moviequote.movie }}</td>
                        <td class="d-none edit-actions">
                            <button data-toggle="modal" data-target="#insert-quote-modal" type="button" class="edit-movie-quote btn btn-success">
                                <i class="far fa-edit"></i>
                                <div class="d-none entity-key">{{ moviequote.key.urlsafe() }}</div>
                                <div class="d-none quote">{{ moviequote.quote }}</div>
                                <div class="d-none movie">{{ moviequote.movie }}</div>
                            </button>
                            <button data-toggle="modal" data-target="#delete-quote-modal" type="button" class="delete-movie-quote btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                                <div class="d-none entity-key">{{ moviequote.key.urlsafe() }}</div>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="insert-quote-modal" tabindex="-1" role="dialog" aria-labelledby="Insert Quote" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Añadir un CineSpoiler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form action="/insertquote" method="POST">
                    <input type="text" name="entity_key" class="d-none">
                      <div class="modal-body">

                          <div class="form-group">
                            <label for="quote-input">Spoiler</label>
                            <input type="text" class="form-control" id="quote-input" name="quote" placeholder="Quote">
                          </div>
                          <div class="form-group">
                            <label for="movie-input">Película</label>
                            <input type="text" class="form-control" id="movie-input" name="movie" placeholder="Movie title">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Add Quote</button>
                      </div>
                </form>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="delete-quote-modal" tabindex="-1" role="dialog" aria-labelledby="Delete Quote" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Borrar CineSpoiler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form action="/deletequote" method="POST">
                    <input type="text" name="entity_key" class="d-none">
                      <div class="modal-body">
                          <div>Estás seguro de que quieres eliminar este pedazo de Spoiler?</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar Spoiler</button>
                      </div>
                </form>
            </div>
          </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/static/js/moviequotes.js"></script>
    </body>
</html>